# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# 后端
backend/target/
backend/logs/

# 前端
frontend-user/node_modules/
frontend-user/dist/
frontend-user/.vite/
frontend-admin/node_modules/
frontend-admin/dist/
frontend-admin/.vite/

# 本地运行目录
uploads/
*.log
